@import ../../sass/global

.confirmation-modal
    @include mobile-modal-styles
    height: 60vh
    overflow-y: scroll
    padding: 32px
    top: 22.4%

    +all-screen-bigger-than-mobile
        height: 57.467vh
        left: 50%
        padding: 48px
        top: 50%
        transform: translate(-50%, -50%)
        width: $confirmation-modal-big-screen

.confirmation-text-container
    gap: 16px
    margin: 24px 0

    +all-screen-bigger-than-mobile
        gap: 24px
        margin: 33px 0

.order-confirmation-header 
    line-height: 28px

    +all-screen-bigger-than-mobile
        line-height: 36px
        


